.container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-left: 50px;

  .song-list {
    font-size: 20px;
    width: fit-content;
    cursor: pointer;

    &:hover {
      font-weight: 600;
    }
  }
}

@media screen and (min-width: 128px) and (max-width: 900px) {
  .container {
    margin-left: 20px;

    .song-list {
      font-size: 14px;
    }
  }
}
