.container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-left: 50px;

  .song-list {
    font-size: 20px;
    width: fit-content;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    color: gray;

    &:hover {
      color: black;
    }
  }
}

@media only screen and (min-width: 128px) and (max-device-width: 1024px) {
  .container {
    margin-left: 20px;

    .song-list {
      font-size: 14px;
      color: black;
    }
  }
}
