.back {
  margin-left: 50px;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 10px;
  font-size: 25px;

  &:hover {
    font-weight: 600;
  }
}

.container {
  .window {
    width: 75vw;
    height: 84.4vh;
    display: block;
    margin: auto;
  }
}
