.buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;

  .back,
  .link {
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 20px;

    &:hover {
      font-weight: 600;
      color: black;
    }
  }

  .links {
    display: flex;
    gap: 20px;
    text-decoration: underline;
    color: gray;
  }
}

.container {
  .window {
    width: 100vw;
    height: 84.4vh;
    display: block;
    margin: auto;
  }
}
